@import '../../../styles.scss';

.inner-login{
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.2rem;
  /* width: 100vw; */
  height: 10vh;
  background-color: $primary-color;
  color: $primary-font-color;


  .fa-icon{
    color: white;
  }

  img{
    width: 12px;
  }
}