<div class="modal-container">
  <section class="modal">
    <div class="modal-header">
      <h2>Edit/View</h2>
      <fa-icon [icon]="exit"></fa-icon>
    </div>
    <form>
      <div class="grid">
        <label for="date">
          Date
          <input type="date" name="date" id="">
        </label>
        <label for="order_id">
          Order Id
          <input type="number" name="order_id" id="">
        </label>
        <label for="name">
          Name
          <input type="text" name="name">
        </label>
      </div>
      <div class="grid">
        <label for="price">
          Price
          <input type="number" name="price">
        </label>
        <label for="quantity">
          Quantity
          <input type="number" name="quantity">
        </label>
        <label for="total">
          Total
          <input type="number" name="total">
        </label>
      </div>
      <div class="action">
        <button id="edit">Edit</button>
        <button id="cancel">Cancel</button>
      </div>
    </form>
  </section>
</div>