/* You can add global styles to this file, and also import other style files */

*{
  font-family: 'Roboto', sans-serif;
  font-family: 'Secular One', sans-serif;
}

body{
  margin: 0;
}

/* Variables */

$primary-color: #24292f;
$primary-font-color: #fff;

$odd-color: #efeeee;