/* You can add global styles to this file, and also import other style files */

*{
  font-family: 'Roboto', sans-serif;
}

body{
  margin: 0;
  font-size: 62.5%;
}

/* Variables */

$primary-color: #24292f;
$secondary-color: #FFF;
$tertiary-color: #e0e0ee;
$primary-font-color: #fff;
$action-color: #76ce43;


$odd-color: #efeeee;