/* You can add global styles to this file, and also import other style files */

*{
  font-family: 'Roboto', sans-serif;
  font-family: 'Secular One', sans-serif;
}

body{
  margin: 0;
}

/* Variables */

$header-color: #24292f;
$header-font-color: #fff;