<section class="pre-table">
  <h1>Total Sales</h1>
  <p class="pre-table-total-records">Total records: <span>7</span></p>
  <div class="pre-table-info">
    <p>Page 1 from 10</p>
    <p class="export">
      <span> Export data </span>
      <fa-icon [icon]="fileEXCEL"></fa-icon>
    </p>
  </div>
</section>
<table cellspacing="0">
  <thead>
    <tr>
      <th>Date <fa-icon [icon]="sort"></fa-icon>
      </th>
      <th>Order ID <fa-icon [icon]="sort"></fa-icon>
      </th>
      <th>Name <fa-icon [icon]="sort"></fa-icon>
      </th>
      <th>Price <fa-icon [icon]="sort"></fa-icon>
      </th>
      <th>Quantity <fa-icon [icon]="sort"></fa-icon>
      </th>
      <th>Total <fa-icon [icon]="sort"></fa-icon>
      </th>
      <th>Print</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let sale of sales">
      <td>{{sale?.date}}</td>
      <td>{{sale?.order_id}}</td>
      <td>{{sale?.name}}</td>
      <td>{{sale?.price}}</td>
      <td>{{sale?.quantity}}</td>
      <td>{{sale?.total}}</td>
      <td class="print_icon">
        <fa-icon [icon]="filePDF" title="print"></fa-icon>
        <fa-icon [icon]="edit" title="print"></fa-icon>
      </td>
    </tr>    
  </tbody>
</table>