<section class="pre-table">
  <h1>Total Sales</h1>
  <p class="pre-table-total-records">Total records: <span>7</span></p>
  <div class="pre-table-info">
    <p>Page 1 from 10</p>
    <p class="export">
      <span> Export data </span>
      <fa-icon [icon]="fileEXCEL"></fa-icon>
    </p>
  </div>
</section>
<table cellspacing="0">
  <thead>
    <tr>
      <th>Date <fa-icon [icon]="sort"></fa-icon>
      </th>
      <th>Order ID <fa-icon [icon]="sort"></fa-icon>
      </th>
      <th>Name <fa-icon [icon]="sort"></fa-icon>
      </th>
      <th>Price <fa-icon [icon]="sort"></fa-icon>
      </th>
      <th>Quantity <fa-icon [icon]="sort"></fa-icon>
      </th>
      <th>Total <fa-icon [icon]="sort"></fa-icon>
      </th>
      <th>Print</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="column1">2017-09-29 01:22</td>
      <td class="column2">200398</td>
      <td class="column3">iPhone X 64Gb Grey</td>
      <td class="column4">$999.00</td>
      <td class="column5">1</td>
      <td class="column6">$999.00</td>
      <td class="print_icon">
        <fa-icon [icon]="filePDF" title="print"></fa-icon>
        <fa-icon [icon]="edit" title="print"></fa-icon>
      </td>
    </tr>
    <tr>
      <td class="column1">2017-09-28 05:57</td>
      <td class="column2">200397</td>
      <td class="column3">Samsung S8 Black</td>
      <td class="column4">$756.00</td>
      <td class="column5">1</td>
      <td class="column6">$756.00</td>
      <td class="print_icon">
        <fa-icon [icon]="filePDF" title="print"></fa-icon>
      </td>
    </tr>
    <tr>
      <td class="column1">2017-09-26 05:57</td>
      <td class="column2">200396</td>
      <td class="column3">Game Console Controller</td>
      <td class="column4">$22.00</td>
      <td class="column5">2</td>
      <td class="column6">$44.00</td>
      <td class="print_icon">
        <fa-icon [icon]="filePDF" title="print"></fa-icon>
      </td>
    </tr>
    <tr>
      <td class="column1">2017-09-25 23:06</td>
      <td class="column2">200392</td>
      <td class="column3">USB 3.0 Cable</td>
      <td class="column4">$10.00</td>
      <td class="column5">3</td>
      <td class="column6">$30.00</td>
      <td class="print_icon">
        <fa-icon [icon]="filePDF" title="print"></fa-icon>
      </td>
    </tr>
    <tr>
      <td class="column1">2017-09-24 05:57</td>
      <td class="column2">200391</td>
      <td class="column3">Smartwatch 4.0 LTE Wifi</td>
      <td class="column4">$199.00</td>
      <td class="column5">6</td>
      <td class="column6">$1494.00</td>
      <td class="print_icon">
        <fa-icon [icon]="filePDF" title="print"></fa-icon>
      </td>
    </tr>
    <tr>
      <td class="column1">2017-09-23 05:57</td>
      <td class="column2">200390</td>
      <td class="column3">Camera C430W 4k</td>
      <td class="column4">$699.00</td>
      <td class="column5">1</td>
      <td class="column6">$699.00</td>
      <td class="print_icon">
        <fa-icon [icon]="filePDF" title="print"></fa-icon>
      </td>
    </tr>
    <tr>
      <td class="column1">2017-09-22 05:57</td>
      <td class="column2">200389</td>
      <td class="column3">Macbook Pro Retina 2017</td>
      <td class="column4">$2199.00</td>
      <td class="column5">1</td>
      <td class="column6">$2199.00</td>
      <td class="print_icon">
        <fa-icon [icon]="filePDF" title="print"></fa-icon>
      </td>
    </tr>
    <tr>
      <td class="column1">2017-09-21 05:57</td>
      <td class="column2">200388</td>
      <td class="column3">Game Console Controller</td>
      <td class="column4">$999.00</td>
      <td class="column5">1</td>
      <td class="column6">$999.00</td>
      <td class="print_icon">
        <fa-icon [icon]="filePDF" title="print"></fa-icon>
      </td>
    </tr>
  </tbody>
</table>